header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  padding: 15px 30px;
  color: #fff;
}

#name-container h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  font-size: 28px;
  cursor: pointer;
}

#name-container img {
  height: 50px;
  border-radius: 50%;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#navigation ul li {
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#navigation ul li:hover {
  color: #4ca1af;
}

#about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#about-me-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#about-me-bio {
  text-align: center;
  max-width: 800px;
  margin-bottom: 40px;
  font-size: 18px;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin: 10px;
  font-size: 16px;
  border: 1px solid #4ca1af;
  padding: 5px 10px;
  border-radius: 5px;
}

.contact-button {
  padding: 15px 30px;
  border: none;
  background-color: #4ca1af;
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.contact-button:hover {
  background-color: #2c3e50;
}

.contact-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.input-field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.social-links i {
  font-size: 24px;
}

.footer-text {
  font-size: 14px;
}